<!DOCTYPE html>
<html lan='en US'>
<head>
    <title>LetsDo</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='Description' content='LetsDo provide easy and steady platform to overtake on day-to-day tasks.'>
    <!--===== FAV ICON =====-->
    <link rel='icon' href='public/Icon/fav.ico.svg' type='image/x-icon'>
    <!--===== CSS =====-->
    <link rel='stylesheet' href='public/css/style.css'>
</head>

<body>
    <!--===== BG-OBJECT =====-->
    <section class='bg-object'>
            <img class='object' src="public/Icon/circle.svg"/>
    </section>

    <main class='grid'>
     <!--===== HEADER =====-->
     <header class='container-h zindex'>
        <object class='logo' type="image/svg+xml" data="public/Icon/logo.svg">
            <img src='public/Icon/logo.svg' alt='Brand-logo'/>
        </object>
     </header>

      <!--===== TODOLIST =====-->
      <section class='container-dd zindex'>
          <div class='child-day'>
             <h1 class='current margin'>Today's</h1>
             <div class='horizontal'></div>
             <h1 class='day margin'><%=kindofDay%></h1>
          </div>

            <div class='box'>
                <div class='child-day1 scroll-con'>  
                    <% for(var i=0; i<newlItems.length; i++){ %>
                        <p class='p1'> <input class='checkbox-in' id='check' type='checkbox' name='checkbox'>
                            <label for='check'><%=newlItems[i] %></label>
                        </p>
                   <% } %>
                    </div>

                <!--===== TODOLIST-INPUT & BUTTON =====-->
                <form class='form-in' action='/' method='post'>
                    <input type='text' name='newItem' placeholder='What&apos;s on your mind?' autocomplete='off'>
                    <div class='btncon'>
                    <button type='submit' name='button'>
                        <div class='contb'>
                            <img class='icoadd' src='/public/Icon/Group 3597.svg' alt='Add-button'>
                        Add new
                        </div>
                    </button>
                    </div>
                </form>
                
            </div>
      </section>
    </main>
</body>
</html>